<header>[% nav.render %]</header>
<div id="sidebar" class="sidebar"></div>
<div class="centred-content navigation-[% config.navigation.global_location %]">
   <div id="[% nav.container_name %]" class="[% nav.container_name %]">
      <div id="[% nav.content_name %]" class="[% nav.content_name %]">
[% content %]
      </div>
   </div>
</div>
