<header>[% nav.render %]</header>
<div class="centred-content">
   <div id="[% nav.container_name %]" class="standard-content">
      <div id="panel-content" class="panel-content">
[% content %]
      </div>
   </div>
</div>
