#colours() {
    body-grad: linear-gradient(to bottom right, rgba(250,240,230,0), rgba(255,228,196,1));
    grad-start: snow;
    link: seagreen;
    message-background: linen;
    message-border: red;
    navigation-background: bisque;
    panel-background: linen;
    text: black;
}
#fonts() {
    data: Roboto Slab, serif;
    system: Roboto, sans-serif;
}
html {
    height: 100%;
}
body {
    background-image: #colours[body-grad]; margin: 0; padding: 0 0.5rem;
}
header {
    position: sticky; top: 0; z-index: 10;
}
.centred-content {
    display: flex; justify-content: center; line-height: 1.5; width: 100%;
}
.messages-panel {
    bottom: 1rem; position: absolute; right: 1rem; z-index: 5;
    .message-item {
        background: #colours[message-background]; border: 2px solid;
        border-color: #colours[message-border]; border-radius: 5px;
        margin-top: 1rem; max-width: 250px; padding: 0.5rem;
    }
}
.standard-content {
    display: inline-block; padding-top: 0.5rem; text-align: left;
    h1, h2, h3, h4, h5 {
        font-family: #fonts[system];
    }
    .inline-panel {
        display: inline-block; vertical-align: top;
    }
}
.state-navigation {
    align-items: center; background: #colours[navigation-background];
    display: flex; justify-content: space-between; padding: 0 1rem;
    .global {
        .nav-panel,
        .slide-out {
            background: #colours[panel-background]; overflow: hidden;
            position: absolute; text-align: left; z-index: 10;
        }
        .nav-panel {
            left: -1.1rem; max-height: 0; margin-top: 0.85rem;
            transition: max-height ease-in-out 500ms;
        }
        .nav-panel.visible {
            max-height: 500px;
        }
        .nav-panel:active, .nav-panel:hover {
            overflow: visible;
        }
        .slide-out {
            left: 0; max-width: 0; top: -1px; transform: translate(-100%, 0);
            transition: max-width ease-in-out 500ms;
            .nav-list li {
                display: block;
            }
        }
        .slide-out.visible {
            max-width: 300px;
        }
    }
    .nav-title {
        background: #colours[grad-start]; border-top-left-radius: 5px;
        display: inline-block; font-family: #fonts[system]; font-size: larger;
        height: 40px; margin-top: 0.5rem; padding-left: 0.5rem;
        img {
            height: 24px; width: 24px; margin-right: 0.25rem;
            margin-top: 0.3rem; vertical-align: top;
        }
    }
    .nav-title:after {
        border-bottom: 40px solid transparent; border-right: 40px solid;
        border-right-color: #colours[navigation-background];
        content: ''; display: inline-block; height: 0; width: 0;
    }
    .nav-control {
        cursor: pointer; display: inline-block; font-size: larger;
        position: relative;
        a, .nav-control-label {
            display: inline-block;
        }
        img {
            height: 24px; width: 24px; vertical-align: middle;
        }
        .nav-panel {
            background: #colours[panel-background];  max-height: 0;
            overflow: hidden; position: absolute; right: -1rem;
            text-align: left; top: 36px;
            transition: max-height ease-in-out 500ms; z-index: 2;
        }
        .nav-panel.visible {
            max-height: 500px;
        }
    }
    .nav-list {
        display: inline-block; list-style: none; margin: 0; padding: 0;
        a, span.drop-menu {
            color: #colours[link]; font-family: #fonts[system];
        }
        a:link {
            text-decoration: none;
        }
        a:active, a:hover, .form-button:hover {
            font-style: italic;
        }
        li {
            display: inline-block;
        }
        li.control {
            font-size: medium;
        }
        li.control,
        li.context {
            box-sizing: border-box; display: block; white-space: nowrap;
            width: 100%;
        }
        li.control a,
        li.context a,
        .form-button span {
            display: block; padding: 0.5rem 1rem;
        }
        li.context.selected,
        li.control.selected {
            border-right: 5px solid; border-color: #colours[link];
            position: relative;
        }
        li.global {
            margin-right: 2.5rem; position: relative;
        }
        li.global.selected > span::before,
        li.global.selected > a::before {
            background: #colours[link]; border-radius: 2px; content: '';
            display: block; height: 5px; position: absolute; top: -1rem;
            width: 100%;
        }
        .form-button {
            background: none !important; border: none; color: #colours[link];
            cursor: pointer; font-family: #fonts[system]; font-size: 16px;
            padding: 0 !important; text-decoration: none;
        }
    }
    .nav-list.control,
    .nav-list.context {
        border: 1px solid; border-radius: 3px;
    }
    .nav-menu {
        display: inline-block;
    }
    .title-text {
        position: relative; top: -1rem;
    }
}
