#colours() {
    body-grad: linear-gradient(to bottom right, rgba(250,240,230,0), rgba(255,228,196,1));
    link: seagreen;
    message-background: linen;
    message-border: red;
    message-text: black;
    navigation-background: bisque;
    navigation-grad: linear-gradient(to bottom, rgba(255,228,196,1), rgba(255,228,196,0));
    panel-background: linen;
    panel-shadow: gray;
    text: black;
}
#fonts() {
    data: Roboto Slab, serif;
    system: Roboto, sans-serif;
}
#widths() {
    context-anchor: 6rem;
    global-anchor: 3rem;
    media-break: 680px;
    @sidebar-both: 7;
    @sidebar-icon: 4;
    @sidebar-text: 5;
    sidebar-both: unit(@sidebar-both, rem);
    centred-content-margin-both: unit((@sidebar-both + 0.25), rem);
    sidebar-icon: unit(@sidebar-icon, rem);
    centred-content-margin-icon: unit((@sidebar-icon + 0.25), rem);
    sidebar-text: unit(@sidebar-text, rem);
    centred-content-margin-text: unit((@sidebar-text + 0.25), rem);
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
html.dark {
    color-scheme: dark;
}
html.light {
    color-scheme: light;
}
body {
    background-image: #colours[body-grad]; margin: 0; padding: 0 0.5rem;
    @media (max-width: #widths[media-break]) {
        padding: 0;
    }
}
header {
    position: sticky; top: 0; z-index: 2;
}
.centred-content {
    display: flex; justify-content: center; line-height: 1.5;
}
.centred-content.navigation-sidebar.link-display-both {
    margin: 0 #widths[centred-content-margin-both];
}
.centred-content.navigation-sidebar.link-display-icon {
    margin: 0 #widths[centred-content-margin-icon];
}
.centred-content.navigation-sidebar.link-display-text {
    margin: 0 #widths[centred-content-margin-text];
}
.messages-panel {
    bottom: 1rem; position: absolute; right: 1rem; z-index: 2;
    .message-item {
        background: #colours[message-background];
        border: 2px solid #colours[message-border]; border-radius: 5px;
        box-shadow: 3px 3px 3px #colours[panel-shadow];
        color: #colours[message-text]; margin-top: 1rem; max-width: 16rem;
        padding: 0.5rem;
    }
}
.messages-panel.hide {
    display: none;
}
.standard-content {
    display: inline-block; padding-top: 0.5rem; text-align: left;
    h1, h2, h3, h4, h5 {
        font-family: #fonts[system]; margin: 1rem 1rem;
    }
    h1 .content, h2 .content, h3 .content, h4 .content, h5 .content {
        font-family: #fonts[data];
    }
    .inline-panel {
        display: inline-block; vertical-align: top;
    }
}
.sidebar, .state-navigation {
    align-items: center; display: flex; justify-content: left;
    .global {
        .nav-panel, .slide-out {
            background: #colours[panel-background]; overflow: hidden;
            position: absolute; text-align: left; z-index: 2;
        }
        .nav-panel {
            left: -1.1rem; max-height: 0; margin-top: 0.85rem;
            transition: max-height ease-in-out 500ms;
        }
        .nav-panel.visible {
            max-height: 32rem;
        }
        .nav-panel:active, .nav-panel:hover {
            overflow: visible;
        }
        .slide-out {
            left: 0; max-width: 0; top: -5px; transform: translate(-100%, 0);
            transition: all ease-in-out 500ms;
            .nav-list li {
                display: block;
            }
        }
        .slide-out.visible {
            max-width: 32rem;
        }
    }
    .nav-title {
        border-top: 0.5rem solid #colours[navigation-background];
        display: inline-block; font-family: #fonts[system]; font-size: larger;
        height: 3rem;
        img {
            height: 24px; width: 24px; margin-right: 0.25rem;
            margin-top: 0.3rem; vertical-align: top;
            @media (max-width: #widths[media-break]) {
                margin-left: 0.75rem;
            }
        }
    }
    .nav-title:after {
        border-bottom: 40px solid transparent;
        border-right: 28px solid #colours[navigation-background];
        content: ' '; display: inline-block; height: 0; width: 0;
        @media (max-width: #widths[media-break]) {
            border-bottom: 0; border-right: 0;
            border-top-right-radius: 10px;
            box-shadow: 0.5rem 0 #colours[navigation-background];
            height: 100%; width: 1rem;
        }
    }
    .nav-title:before {
        border-top-left-radius: 10px;
        box-shadow: inset 0.5rem 0 #colours[navigation-background];
        content: ''; display: inline-block; height: 100%;
        margin-left: -0.5rem; width: 1rem;
    }
    .nav-control {
        cursor: pointer; display: inline-block; font-size: larger;
        a, .nav-control-label {
            display: inline-block;
        }
        img {
            height: 24px; width: 24px; vertical-align: middle;
        }
        .nav-panel {
            background: #colours[panel-background];  max-height: 0;
            overflow: hidden; position: absolute; right: -1rem;
            text-align: left; top: 36px;
            transition: max-height ease-in-out 500ms; z-index: 2;
        }
        .nav-panel.visible {
            max-height: 32rem;
        }
    }
    .nav-list {
        display: inline-block; list-style: none; margin: 0; padding: 0;
        a, span.drop-menu {
            color: #colours[link]; font-family: #fonts[system];
            img {
                height: 24px; width: 24px; vertical-align: middle;
            }
        }
        a:link {
            text-decoration: none;
        }
        a:active, a:hover, .form-button:hover {
            font-style: italic;
        }
        li {
            display: inline-block;
        }
        li.control {
            font-size: medium;
        }
        li.control,
        li.context {
            display: block; white-space: nowrap; width: 100%;
        }
        li.control a,
        li.context a,
        .form-button span {
            display: block; padding: 0.25rem 1rem;
        }
        li.control:first-child a,
        li.context:first-child a,
        .form-button:first-child span {
            padding-top: 0.5rem;
        }
        li.control:last-child a,
        li.context:last-child a,
        .form-button:last-child span {
            padding-bottom: 0.5rem;
        }
        li.context.selected,
        li.control.selected {
            border-right: 5px solid #colours[link]; position: relative;
        }
        li.global {
            margin-right: 2.5rem; position: relative;
        }
        li.global.selected > span::before,
        li.global.selected > a::before {
            background: #colours[link]; border-radius: 2px; content: '';
            display: block; height: 5px; position: absolute; top: -0.66rem;
            width: 100%;
        }
        .form-button {
            background: none !important; border: none; color: #colours[link];
            cursor: pointer; font-family: #fonts[system]; font-size: 16px;
            padding: 0 !important; text-decoration: none;
        }
    }
    .nav-list.control,
    .nav-list.context {
        border: 1px solid; border-radius: 3px;
    }
    .nav-menu {
        background: #colours[navigation-background];
    }
    .title-text {
        position: relative; top: -1rem;
    }
}
.state-navigation {
    .nav-menu {
        border-bottom-right-radius: 10px;
        display: inline-block; flex-grow: 10; height: 3rem;
        padding-right: 1rem; padding-top: 0.5rem; text-align: right;
        .nav-control {
            position: relative;
        }
    }
 }
.state-navigation:before {
    background: #colours[navigation-background];
    border-top: 0.5rem; border-top-left-radius: 20px;
    content: ''; display: inline-block; height: 3rem;
    @media (max-width: #widths[media-break]) {
        width: 1rem;
    }
}
.state-navigation.link-display-both:before {
    width: #widths[sidebar-both];
}
.state-navigation.link-display-icon:before {
    width: #widths[sidebar-icon];
}
.state-navigation.link-display-text:before {
    width: #widths[sidebar-text];
}
.state-navigation.navigation-header {
    .title-text {
        @media (max-width: #widths[media-break]) {
            display: none;
        }
    }
}
.sidebar {
    background: unset; border-top-left-radius: 0; display: inline-block;
    padding: 0; position: fixed; top: 3rem; z-index: 2;
    .nav-list.global {
        align-items: flex-start; display: flex; flex-direction: column;
        min-height: 2rem; padding-top: 0.5rem;
        li.global {
            display: block; margin: 0; padding: 1rem 0;
            a, .drop-menu {
                display: inline-block; min-width: #widths[global-anchor];
                padding: 1rem;
            }
            .nav-panel {
                display: inline-block; left: unset; margin: 0.5rem 0;
                max-width: 0; transition: all ease-in-out 500ms;
            }
            .nav-panel.visible {
                max-width: 32rem;
            }
        }
        li.global:first-child {
            padding-top: 0;
        }
        li.global.selected > span::before,
        li.global.selected > a::before {
            height: 50%; left: -0.035rem; margin: 25% 0; top: 0; width: 5px;
        }
        li.global:first-child > span:before,
        li.global:first-child > a::before {
           margin-top: 0.5rem;
        }
        .slide-out {
            display: inline-block; left: unset; margin-left: 0.5rem;
            position: absolute; top: -1px; transform: unset;
        }
    }
    .nav-list.context {
        li.context {
            a, .drop-menu {
                display: inline-block; min-width: #widths[context-anchor];
                padding: 0.5rem 1rem;
            }
        }
        li.context.selected {
            border-left: 5px solid #colours[link]; border-right: 0;
        }
    }
    .nav-menu {
        background: #colours[navigation-background];
    }
    @media (max-width: #widths[media-break]) {
        top: 3rem;
    }
}
.sidebar.link-display-both {
    .nav-list.global {
        min-width: #widths[sidebar-both];
    }
}
.sidebar.link-display-icon {
    .nav-list.global {
        min-width: #widths[sidebar-icon];
    }
}
.sidebar.link-display-text {
    .nav-list.global {
        min-width: #widths[sidebar-text];
    }
}
.sidebar::after {
    background: #colours[navigation-grad]; content: ' '; display: block;
    height: 5rem; margin-top: -0.25rem;
}
.sidebar.link-display-both::after {
    width: #widths[sidebar-both];
}
.sidebar.link-display-icon::after {
    width: #widths[sidebar-icon];
}
.sidebar.link-display-text::after {
    width: #widths[sidebar-text];
}
